.section-hero
  background-color: #000
  height: 80vh
  display: flex
  align-items: center
  justify-content: center
  background-image: url("../assets/images/hero-bg.png")
  background-size: 96rem
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat

  > .logo
    height: 272px
    width: 200px
    color: transparent
    background-image: url("../assets/images/lab-logo.svg")
    background-size: 100%
    background-position: center
    background-repeat: no-repeat