footer.lab-footer
  p Visite-nos no Anexo IV da Câmara dos Deputados, Subsolo, Sala 90.  
  p abhacker@camara.leg.br
  p +55 (61) 3216-6003
  
  .logos
    a.fab.fa-facebook.fa-2x(href="https://www.facebook.com/LabHackerCD/" target="_blank")
    a.fab.fa-github.fa-2x(href="https://github.com/labhackercd" target="_blank")
    a.fab.fa-instagram.fa-2x(href="https://www.instagram.com/labhackercd/" target="_blank")
    a.fab.fa-twitter.fa-2x(href="https://twitter.com/labhackercd" target="_blank")
  
  p Todo o conteúdo deste site está publicado sob a licença <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR" target="_blank">Creative Commons CC BY-SA 4.0</a> Brasil
  a.fab.fa-creative-commons.fa-2x(href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR" target="_blank")
    
script
  include js/modal.js
