head

  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Lab Hacker
  meta(name="description" content="")
  link(rel="stylesheet" href="css/main.min.css")

  link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png")
  link(rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/favicons/apple-touch-icon-57x57.png")
  link(rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/favicons/apple-touch-icon-114x114.png")
  link(rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/favicons/apple-touch-icon-72x72.png")
  link(rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/favicons/apple-touch-icon-144x144.png")
  link(rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/favicons/apple-touch-icon-120x120.png")
  link(rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/favicons/apple-touch-icon-152x152.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
  meta(name="application-name" content="Lab Hacker")
  meta(name="msapplication-TileColor" content="#FFFFFF" )
  meta(name="msapplication-TileImage" content="assets/favicons/mstile-144x144.png")
  link(rel="manifest" href="manifest.json")
  link(rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#33aa77")
  meta(name="theme-color" content="#ffffff")
