section.section-card
  .item
    .card
      img(class="avatar" src="../../../assets/images/avatar-fake.jpg", alt="Avatar")
          
      span.name Roberta Rabay 👾
      
      span.position Diretor - FC-03       
        
      p Cristiano é o Diretor do Laboratório Hacker da Câmara dos Deputados. É também idealizador do Portal e-Democracia. Como servidor da Câmara dos Deputados desde 1993, tem trabalhado em projetos relativos ao processo legislativo, qualidade da lei, transparência legislativa, democracia digital, atividades colaborativas (maratonas hacker) e inovação. Doutor em ciência política e sociologia pela Universidade do Estado do Rio de Janeiro - Instituto de Estudos Sociais e Políticos, Mestre em Políticas Públicas pela Queen Mary College - Universidade de Londres e pesquisador associado do Ash Center for Democratic Governance and Innovation da Universidade de Harvard.
  
  .item
    .card
      img(class="avatar" src="../../../assets/images/avatar-fake.jpg", alt="Avatar")
          
      <span class="name">Rogério Scheidemantel ⚓️</span>
      
      <span class="position">Diretor - FC-02</span>          
        
      p Rogério é o Diretor Adjunto do Laboratório Hacker da Câmara dos Deputados. Mestre em Engenharia Elétrica-Telecomunicações pela Universidade de Brasília, com ampla experiência em projetos de hardware de comunicação e criptografia. Rogério trabalha como Analista Legislativo da Câmara dos Deputados desde 2002, nas áreas de Processo Legislativo e Orçamento Público.
    
  .item
    .card
      img(class="avatar" src="../../../assets/images/avatar-fake.jpg", alt="Avatar")
          
      <span class="name">Roberta Rabay 👾</span>
      
      <span class="position">Diretor - FC-03</span>          
        
      p Cristiano é o Diretor do Laboratório Hacker da Câmara dos Deputados. É também idealizador do Portal e-Democracia. Como servidor da Câmara dos Deputados desde 1993, tem trabalhado em projetos relativos ao processo legislativo, qualidade da lei, transparência legislativa, democracia digital, atividades colaborativas (maratonas hacker) e inovação. Doutor em ciência política e sociologia pela Universidade do Estado do Rio de Janeiro - Instituto de Estudos Sociais e Políticos, Mestre em Políticas Públicas pela Queen Mary College - Universidade de Londres e pesquisador associado do Ash Center for Democratic Governance and Innovation da Universidade de Harvard.
    
  .item
    .card
      img(class="avatar" src="../../../assets/images/avatar-fake.jpg", alt="Avatar")
          
      <span class="name">Paulo Henrique Araújo 🎩</span>
      
      <span class="position">Gestor de Tecnologia - FC-01</span>          
        
      p Paulo Henrique Araújo, mestre em Ciência da Computação pela UFMG, gerente de projetos, militante por inovação, pesquisa e desenvolvimento no serviço público e pela promoção de mecanismos de transparência e participação popular no governo.
    
  .item
    .card
      img(class="avatar" src="../../../assets/images/avatar-fake.jpg", alt="Avatar")
          
      <span class="name">Roberta Rabay 👾</span>
      
      <span class="position">Diretor - FC-03</span>          
        
      p Cristiano é o Diretor do Laboratório Hacker da Câmara dos Deputados. É também idealizador do Portal e-Democracia. Como servidor da Câmara dos Deputados desde 1993, tem trabalhado em projetos relativos ao processo legislativo, qualidade da lei, transparência legislativa, democracia digital, atividades colaborativas (maratonas hacker) e inovação. Doutor em ciência política e sociologia pela Universidade do Estado do Rio de Janeiro - Instituto de Estudos Sociais e Políticos, Mestre em Políticas Públicas pela Queen Mary College - Universidade de Londres e pesquisador associado do Ash Center for Democratic Governance and Innovation da Universidade de Harvard.
  
  .item
    .card
      img(class="avatar" src="../../../assets/images/avatar-fake.jpg", alt="Avatar")
          
      <span class="name">Rogério Scheidemantel ⚓️</span>
      
      <span class="position">Diretor - FC-02</span>          
        
      p Rogério é o Diretor Adjunto do Laboratório Hacker da Câmara dos Deputados. Mestre em Engenharia Elétrica-Telecomunicações pela Universidade de Brasília, com ampla experiência em projetos de hardware de comunicação e criptografia. Rogério trabalha como Analista Legislativo da Câmara dos Deputados desde 2002, nas áreas de Processo Legislativo e Orçamento Público.
    
  .item
    .card
      img(class="avatar" src="../../../assets/images/avatar-fake.jpg", alt="Avatar")
          
      <span class="name">Roberta Rabay 👾</span>
      
      <span class="position">Diretor - FC-03</span>          
        
      p Cristiano é o Diretor do Laboratório Hacker da Câmara dos Deputados. É também idealizador do Portal e-Democracia. Como servidor da Câmara dos Deputados desde 1993, tem trabalhado em projetos relativos ao processo legislativo, qualidade da lei, transparência legislativa, democracia digital, atividades colaborativas (maratonas hacker) e inovação. Doutor em ciência política e sociologia pela Universidade do Estado do Rio de Janeiro - Instituto de Estudos Sociais e Políticos, Mestre em Políticas Públicas pela Queen Mary College - Universidade de Londres e pesquisador associado do Ash Center for Democratic Governance and Innovation da Universidade de Harvard.
    
  .item
    .card
      img(class="avatar" src="../../../assets/images/avatar-fake.jpg", alt="Avatar")
          
      <span class="name">Paulo Henrique Araújo 🎩</span>
      
      <span class="position">Gestor de Tecnologia - FC-01</span>          
        
      p Paulo Henrique Araújo, mestre em Ciência da Computação pela UFMG, gerente de projetos, militante por inovação, pesquisa e desenvolvimento no serviço público e pela promoção de mecanismos de transparência e participação popular no governo.
