section.section-camara
  h2 O Laboratório Hacker é uma iniciativa da Câmara dos deputados
  a.logo(href="http://www2.camara.leg.br/" target="_blank")
    include ../../../assets/images/camara-logo.svg
