section.section-about
  a.close-modal Voltar
  header
    h3 Quem Somos
  main
    p O LabHacker é um espaço para promover o desenvolvimento colaborativo de projetos inovadores em cidadania relacionados ao Poder Legislativo. Criado pela Resolução 49, de 2013, este laboratório dentro da Câmara dos Deputados tem o objetivo de articular uma rede entre parlamentares, hackers e sociedade civil que contribua para a cultura da transparência e da participação social por meio da gestão de dados públicos.
    
    p Além de estimular o desenvolvimento de aplicações digitais que permitam a visualização mais intuitiva e simplificada das informações legislativas, o LabHacker promove atividades como maratonas hackers (hackathons), hackdays sobre temas inovadores, e oficinas de criação e discussão com especialistas, parlamentares, estudantes de universidades e escolas públicas, e crianças interessadas em tecnologia.
    
    p O laboratório também é responsável pela governança do portal e-Democracia, uma plataforma de participação que amplia a transparência da atividade legislativa e a interação entre os parlamentares e a sociedade.
    
    p Qualquer pessoa interessada em projetos de cidadania, especialmente programadores e desenvolvedores de softwares, pode trabalhar livremente no ambiente do LabHacker. Visite-nos no Anexo IV da Câmara, Subsolo, sala 90.
    
    iframe.video(src="https://www.youtube.com/embed/tYCfywPzzNA" frameborder="0" allowfullscreen)
      
  include section-card.pug
