section.section-links
  a.close-modal Voltar
  header
    h3 Nos Acompanhe
  main
    .item 
      span.title Compartilhando
      .list 
        a.icon-before.-facebook(href="#" target="_blank") Facebook
        a.icon-before.-instagram(href="#" target="_blank") Instagram
        a.icon-before.-twitter(href="#" target="_blank") Twitter
        a.icon-before.-youtube(href="#" target="_blank") Youtube
        a.icon-before.-flickr(href="#" target="_blank") Flickr
        
    .item 
      span.title Inspirando
      .list 
        a.icon-before.-github(href="#" target="_blank") Github
        a.icon-before.-medium(href="#" target="_blank") Medium
        
    .item 
      span.title Experimentando
      .list 
        a.icon-before.-flag(href="#" target="_blank") Hackathon de Cidadania
        a.icon-before.-woman(href="#" target="_blank") Hackathon de Gênero
        
    .item 
      span.title Provocando
      .list 
        a.icon-before.-calendar(href="#" target="_blank") Agenda de atividades
        
    .item.-form
      span.title Participando
      span.description Mande sugestões, críticas, ou ideias pra gente desenvolver 😉
      form
        input(type="text" placeholder="Seu email")
        textarea(placeholder="Mensagem")
        a.simple-link Enviar
