html(lang="pt")

  include includes/head.pug

  body

    main

      include includes/section-hero.pug
      include includes/section-buttons.pug
      include includes/section-whatwedo.pug
      include includes/section-buttons.pug
      include includes/section-contact.pug
      include includes/section-camara.pug

      include includes/footer.pug

      include includes/section-about.pug
      include includes/section-links.pug
