html(lang="pt")

  include includes/head.pug

  body

    main

      include includes/section-hero.pug

      include includes/section-buttons.pug

      include includes/section-whatwedo.pug

      include includes/section-buttons.pug
      
      include includes/subpage-about.pug

      include includes/subpage-links.pug

      include includes/section-contact.pug
      
      include includes/section-camara.pug
      
      include includes/footer.pug
