$color-lab-blue-light: #9999FF;
$color-lab-blue: #6666FF;
$color-lab-blue-dark: #66f;

$color-lab-green-light: #66CC99;
$color-lab-green: #3a7;
$color-lab-green-dark: #3a7;

$color-lab-yellow-light: #fb3;
$color-lab-yellow: #fb3;
$color-lab-yellow-dark: #fb3;

$color-lab-orange-light: #fa6;
$color-lab-orange: #fa6;
$color-lab-orange-dark: #fa6;

$color-lab-pink-light: #fbc;
$color-lab-pink: #f89;
$color-lab-pink-dark: #f89;

$color-negative: #f77;
$color-link: $color-lab-blue;
$color-selection: $color-lab-blue-light;
