$color-lab-blue-light: #99f;
$color-lab-blue: #66F;
$color-lab-blue-dark: #4C4CED;

$color-lab-green-light: #6c9;
$color-lab-green: #3a7;
$color-lab-green-dark: #249464;

$color-lab-yellow-light: #fb3;
$color-lab-yellow: #fb3;
$color-lab-yellow-dark: #fb3;

$color-lab-orange-light: #fc9;
$color-lab-orange: #fa6;
$color-lab-orange-dark: #f99749;

$color-lab-pink-light: #fbc;
$color-lab-pink: #f89;
$color-lab-pink-dark: #f89;

$color-negative: #f77;
$color-link: $color-lab-blue;
$color-selection: $color-lab-blue-light;
