// $color-lab-blue-light: #99f;
$color-lab-blue: #3B81EA;
// $color-lab-blue-dark: #4C4CED;

// $color-lab-green-light: #6c9;
$color-lab-green: #34AA51;
// $color-lab-green-dark: #249464;

// $color-lab-yellow-light: #fb3;
$color-lab-yellow: #F1B114;
// $color-lab-yellow-dark: #fb3;

// $color-lab-orange-light: #fc9;
$color-lab-purple: #7541D5;
// $color-lab-orange-dark: #f99749;

// $color-lab-pink-light: #fbc;
$color-lab-pink: #D825A9;
// $color-lab-pink-dark: #f89;

$color-negative: #F77;
$color-light-black: #2A2B2A;
$color-link: $color-lab-blue;
$color-selection: $color-lab-blue;
