.lab-button {
  color: #fff;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  font-size: $font-size-deci;
  padding: 1rem 2rem;

  @include media-mediumup {
    font-size: $font-size-base;
    padding: 1.25rem 2.5rem;
  }

  &.-green {
    background-color: $color-lab-green-light;

    &:hover {
      background-color: $color-lab-green;
    }
  }

  &.-blue {
    background-color: $color-lab-blue-light;

    &:hover {
      background-color: $color-lab-blue;
    }
  }

  &.-pink {
    background-color: $color-lab-pink-light;

    &:hover {
      background-color: $color-lab-pink;
    }
  }

  &:active {
    transform: translateY(2px);
  }
}
