.lab-button {
  color: #fff;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
  font-size: $font-size-deci;
  padding: 1rem 2rem;

  @include media-mediumup {
    font-size: $font-size-base;
    padding: 1.25rem 2.5rem;
  }

  &:hover {
    transform: scale(1.075);
  }

  &.-green {
    background-color: $color-lab-green;
  }

  &.-pink {
    background-color: $color-lab-pink;
  }

  &.-yellow {
    background-color: $color-lab-yellow;
  }

  &:active {
    transform: translateY(2px);
  }
}
