.section-contact {
  padding-left: 24vw;
  padding-right: 24vw;
  background-color: #000;
  color: #fff;
  text-align: center;

  > p {
    margin-bottom: $space-centi;
  }

  @include media-smallonly {
    padding-left: 9vw;
    padding-right: 9vw;
  }

  > a {
    font-size: 1.5rem;
    @include hover-highlight(rgba(#FFF, 0.4));
  }
}
