.section-plip {
  $blue: #02638D;
  $green: #6F9D82;
  $orange: #F59B32;
  $yellow: #FCC43E;
  $red: #EF5D4E;
  $gray: rgba(#000, .75);
  $gray-light: rgba(#000, .35);

  padding: 4rem 8vw;

  @include media-smallonly {
    padding: 2.5rem 6vw;
  }
  @include media-mediumonly {
    padding: 3rem 5vw;
  }

  & .blue {
    color: $blue;
  }

  & .green {
    color: $green;
  }

  & .yellow {
    color: $yellow;
  }

  & .red {
    color: $red;
  }

  & .orange {
    color: $orange;
  }

  & img {
    width: 100%;
  }

  & h2,
  & h3 {
    text-transform: uppercase;
  }

  & h2 {
    font-size: 2.5rem;

    margin-top: 2rem;

    text-align: center;

    color: $blue;

    @include media-smallonly {
      font-size: 1.25rem;

      margin-top: .35rem;
    }

    @include media-mediumonly {
      font-size: 1.75rem;

      margin-top: 1.2rem;
    }
  }

  & h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;

    display: flex;
    align-items: center;

    margin-bottom: 1rem;

    @include media-smallonly {
      font-size: 1.25rem;

      margin-bottom: 1rem;
    }
    @include media-mediumonly {
      font-size: 1.45rem;
    }

    &::before,
    &::after {
      font-weight: black;

      display: inline-block;

      width: .35rem;
      height: 2.5rem;

      content: '';

      background-color: $gray-light;

      @include media-smallonly {
        width: .2rem;
        height: 1.5rem;
      }
    }

    &::before {
      margin-right: 1rem;

      @include media-smallonly {
        margin-right: .7rem;
      }
    }

    &::after {
      display: none;

      margin-left: 1rem;

      @include media-smallonly {
        margin-left: .7rem;
      }
    }
  }

  & p {
    font-size: 1.35rem;
    line-height: 1.5;

    margin-bottom: 1rem;

    color: $gray;

    @include media-smallonly {
      font-size: 1rem;
    }
    @include media-mediumonly {
      font-size: 1.2rem;
    }
  }

  & > .content {
    display: flex;
    flex-direction: column;

    padding: 4rem 9vw;

    @include media-smallonly {
      padding: 2rem 0;
    }

    @include media-mediumonly {
      padding: 2rem 0;
    }
  }

  & > .content > .graph {
    display: flex;
    align-items: center;

    padding: 2.5rem 0;

    @include media-smallonly {
      flex-direction: column;

      padding: 1.2rem 0;
    }
  }

  & > .content > .graph:nth-child(even) {
    @include media-smallup {
      flex-direction: row-reverse;

      & h3 {
        &::before {
          display: none;
        }

        &::after {
          display: inline-block;
        }
      }

      & > .image {
        padding-right: 0;
        padding-left: 2.5rem;
      }
    }
  }

  & > .content > .graph > .image {
    flex: 4;

    min-width: 10rem;
    padding-right: 2.5rem;

    @include media-smallonly {
      display: none;
    }
    @include media-mediumonly {
      flex: 2;
    }
  }

  & > .content > .graph > .text {
    flex: 8;

    @include media-smallonly {
      flex: 1;
    }
  }
}
