.section-carousel {
  position: relative;
  min-height: 20vh;

  @include media-smallonly {
    min-height: 40vh;
  }

  > .list {
    position: absolute;
    width: 80%;

    @include media-mediumdown {
      width: 100%;
    }

    > .item {
      position: absolute;
      transform: translateY(6rem);
      margin: 0;
      opacity: 0;
      transition: all .4s ease-out;
      pointer-events: none;

      &.-active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  > .controls {
    position: relative;
    top: 8rem;
    display: flex;

    @include media-mediumdown {
      display: none;
    }

    > * + * {
      margin-left: 1.5rem;
    }

    > .option {
      width: 1.25rem;
      height: 1.25rem;
      background-color: #FFF;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);

      &:hover {
        transform: scale(1.2);
      }

      &.-active {
        background-color: $color-lab-yellow;
      }

      &.-diamond {
        transform: rotate(315deg) translateY(1rem);

        &:hover {
          transform: rotate(315deg) translateY(1rem) scale(1.2);
        }

        &.-active {
          background-color: $color-lab-pink;
        }
      }

      &.-circle {
        border-radius: 50%;
        transform: translate(1rem, -0.5rem);

        &:hover {
          transform: translate(1rem, -0.5rem) scale(1.2);
        }

        &.-active {
          background-color: $color-lab-green;
        }
      }
    }
  }
}
