.section-whatwedo {
  @include container;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  > * + * {
    margin-top: $space-deca;

    @include media-mediumup {
      margin-top: $space-hecto;
    }
  }

  @include media-mediumup {
    > .title-section {
      flex-basis: 100%;
    }
  }

  > .sectiontext {
    max-width: 66ch;
    flex-basis: 100%;
    margin-top: 4rem;
  }

  > h3 {
    text-align: center;
    margin-bottom: -2.5rem;

    line-height: $line-height-deca;
    font-size: $font-size-deca;
    
    @include media-mediumup {
      line-height: $line-height-kilo;
      font-size: $font-size-kilo;
    }
  }

  > .thingswedo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-mediumup {
      flex-basis: 40%;
    }

    @include media-smallup {
      > * {
        margin-top: 0;
      }
    }

    > h4 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 2.5rem;

      @include media-mediumup {
       font-size: 2rem;
      }
    }

    > img {
      position: relative;
      margin-bottom: $space-deci;
      margin-top: $space-deci;
      order: -1;
      width: 7rem;

      @include media-mediumup {
        width: auto;
      }
    }

    > p {
      font-size: $font-size-centi;
      line-height: $line-height-centi;

      @include media-mediumup {
        font-size: $font-size-deci;
        line-height: $line-height-deci;
      }

      > a {
        color: $color-link;
        @include hover-highlight(rgba($color-link, 0.2));
      }

      > b {
        font-weight: bold;
      }
    }
  }
}
