.section-about {
  @include container;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  padding-top: 1rem;
  background-color: #292B29;
  background-image: url('../images/bg-about.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 22rem;
  color: #fff;
  transform: translateX(-150vw);
  transition: all .5s ease-in-out;

  &.-active {
    transform: translateX(0);
  }

  > .close-modal {
    padding-left: 9vw;
  }

  > header {
    @include container;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 4rem;

    @include media-smallonly {
      padding-top: 2.5rem;
      padding-bottom: 4.5rem;
    }

    > h3 {
      font-size: 6.5rem;
      font-weight: 100;
      line-height: 1;

      @include media-smallonly {
        font-size: 3.5rem;
      }
    }
  }

  > main {
    padding: 4.5rem 25vw;
    background-color: $color-lab-green;

    @include media-smallonly {
      padding: 2.5rem 9vw;
    }

    > * + * {
      margin-top: $space-centi;

      @include media-mediumup {
        margin-top: $space-deci;
      }
    }

    > p {
      font-size: 1.25rem;
      line-height: 1.6;
    }

    > .video {
      width: 100%;
      height: 445px;
      margin-top: 4rem;

      @include media-smallonly {
        margin-top: 2rem;
        height: 170px;
      }
    }
  }
}
