.section-camara {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    width: 50vw;
    font-size: 2rem;
    text-align: center;
    line-height: 1.45;

    @include media-smallonly {
      width: 80vw;
    }
  }

  > .logo {
    width: 24rem;
    margin-top: $space-deca;
    transition: all .15s ease-in-out;

    @include media-smallonly {
      width: 80vw;
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}
