.section-hero {
  @include container;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000;
  height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/hero.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
  align-items: flex-start;

  @include media-smallonly {
    height: 100vh;
  }

  > .language-switch {
    display: flex;
    align-self: flex-end;
    font-weight: bold;

    > .option {
      padding: 0 0.5rem;
      &:hover {
        color: #A1A1A1;
      }
    }

  }

  > .logo {
    min-height: 272px;
    height: 272px;
    min-width: 200px;
    width: 200px;
    color: transparent;
    background-image: url("../images/lab-logo.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 4px;
    margin-bottom: 1rem;
  }

  > .content {
    width: 100%;
    max-width: 960px;
    position: relative;

    > .section-carousel {
      width: 100%;
    }

    h1 {
      font-size: 2.8rem;
      line-height: 1.2;
      letter-spacing: -0.01em;

      @include media-mediumdown {
        font-size: 1.75rem;
      }
    }
  }
}
